{{ define "feature_template" }}
    <ul class="navbar-menu">
        {{ range $menuItem := .Menu.Items }}
            <li>
                {{ if (gt (len $menuItem.Items) 0) }}
                    <div class="navbar-dropdown-button">
                        {{ template "menu_item" $menuItem }}
                    </div>
                    <ul class="navbar-dropdown">
                        {{ range $subItem := $menuItem.Items }}
                            <li>
                                {{ template "menu_item" $subItem }}
                            </li>
                        {{ end }}
                    </ul>
                {{ else }}
                    {{ template "menu_item" $menuItem }}
                {{ end }}
            </li>
        {{ end }}
    </ul>
{{ end }}