{{ define "base" }}
<!DOCTYPE html>
<html>
    <head>
        {{template "head" .}}
    </head>
    <body>
        {{ template "navbar" . }}
        {{ template "main" . }}
        {{ template "footer" . }}
    </body>
</html>
{{ end }}