{{ define "main" }}
    <main class="main-content-wrapper">
        <div class="main-content-lint">
            <div class="object-information">
                <span class="object-information__title">{{ .Object }}</span>
            </div>
            {{ if (or .Previous .Next) }}
                <div class="pagination">
                    {{ if .Previous }}
                        <a href="{{ .Previous.URL }}" hx-get="{{ .Previous.URL }}" hx-select=".main-content-wrapper" hx-target=".main-content-wrapper" hx-swap="outerHTML" hx-push-url="true" class="pagination__link pagination__link--previous">
                            << {{ .Previous.GetName }}
                        </a>
                    {{ else }}
                        <span class="pagination__placeholder"></span>
                    {{ end }}
                    {{ if .Next }}
                        <a href="{{ .Next.URL }}" hx-get="{{ .Next.URL }}" hx-select=".main-content-wrapper" hx-target=".main-content-wrapper" hx-swap="outerHTML" hx-push-url="true" class="pagination__link pagination__link--next">
                            {{ .Next.GetName }} >>
                        </a>
                    {{ else }}
                        <span class="pagination__placeholder"></span>
                    {{ end }}
                </div>
            {{ end }}
            <div class="documentation-links">
                {{ if .Config.Project.Repository }}
                    <a href="{{ .Config.Project.Repository }}" class="documentation-link" target="_blank">
                        <i class="fab fa-github"></i> View on GitHub
                    </a>
                {{ end }}
            </div>
        </div>
        <div class="main-content">
            {{ .Content }}
        </div>
    </main>
{{ end }}