{{ define "main" }}
    <main class="main-content-wrapper">
        <div class="main-content-lint">
            <div class="object-information">
                <span class="object-information__title">{{ .Object }}</span>
            </div>
            <div class="documentation-links">
                {{ if .Config.Project.Repository }}
                    <a href="{{ .Config.Project.Repository }}" class="documentation-link" target="_blank">
                        View on Github
                        {{ Icon "github" "34x34" }}
                    </a>
                {{ end }}
            </div>
        </div>
        <div class="main-content">
            {{ .Content }}
            {{ $NextObject := .Object.GetNext }}
            {{ $PrevObject := .Object.GetPrevious }}
            {{ if (or $NextObject $PrevObject) }}
                <div class="pagination">
                    {{ if $PrevObject }}
                        <a href="{{ $PrevObject.URL }}" hx-get="{{ $PrevObject.URL }}" hx-select=".main-content-wrapper" hx-target=".main-content-wrapper" hx-swap="outerHTML" hx-push-url="true" class="pagination__link pagination__link--previous">
                            {{ Icon "arrow-left-short" }}
                            <span class="pagination__link-text">{{ $PrevObject.GetTitle }}</span>
                        </a>
                    {{ else }}
                        <span class="pagination__placeholder"></span>
                    {{ end }}
                    {{ if $NextObject }}
                        <a href="{{ $NextObject.URL }}" hx-get="{{ $NextObject.URL }}" hx-select=".main-content-wrapper" hx-target=".main-content-wrapper" hx-swap="outerHTML" hx-push-url="true" class="pagination__link pagination__link--next">
                            <span class="pagination__link-text">{{ $NextObject.GetTitle }}</span>
                            {{ Icon "arrow-right-short" }}
                        </a>
                    {{ else }}
                        <span class="pagination__placeholder"></span>
                    {{ end }}
                </div>
            {{ end }}
        </div>
    </main>
{{ end }}